<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.lms.classs.impl.classDAO">


	<!-- 등록 -->
	<insert id= "insertClass" parameterType="classVO">
		<selectKey keyProperty="classnum" resultType="string" order="BEFORE">
			SELECT max(CLASSNUM)+1 FROM CLASS
		</selectKey>
		INSERT INTO CLASS(  CLASSNUM,
							CLASSNAME, 
							CREDIT,
							MAXSTUDENT,
							PROFESSORNUM,
							CLASSTIME)
		VALUES(
				#{classnum},
				#{classname},
				#{credit},
				#{maxstudent},
				#{professornum},
				#{classtime}
					)
	</insert>
	
	
	
	
	
					
	<!-- 수정 -->
	<update id="updateClass" parameterType="classVO">
		UPDATE CLASS
		SET CLASSNAME 	= #{classname},
			CLASSTIME 	= #{classtime},
			CREDIT		= #{credit},
			MAXSTUDENT	= #{maxstudent}
		WHERE CLASSNUM 	= #{classnum}
	
	</update>	
	
	
	<!--  삭제 -->
	<delete id="deleteClass" parameterType="string">
		DELETE FROM CLASS
		WHERE		CLASSNUM = #{classnum}
	</delete>
	
	<!-- 단건조회 -->
	
	<select id ="getClass" resultType="classVO">
			
			SELECT		CLASSNUM,
						CLASSNAME,
						CREDIT,
						MAXSTUDENT,
						PROFESSORNUM,
						CLASSTIME
			FROM 		CLASS
			WHERE 		CLASSNUM = #{classnum}
			
			
	</select>		
			
	<!-- 건수 조회 -->	
	<select id="getCountclass" resultType="integer">
		select count(*) FROM CLASS C JOIN PROFESSOR P
							 	ON C.PROFESSORNUM = P.PROFESSORNUM 
	</select>		
			
			
	 <!-- 전체조회 -->
	 <select id="getClassList" resultType="map" parameterType="classsearchVO">
			SELECT 			B.* FROM 
							( SELECT A.*,ROWNUM RN FROM 
								(SELECT C.CLASSNUM,
										C.CLASSNAME,
										C.CREDIT,
										C.MAXSTUDENT,
										P.PROFESSORNAME,
										C.CLASSTIME,
										(SELECT COUNT(*) FROM CLASSAPPLY CA 
										WHERE CA.CLASSNUM = C.CLASSNUM) APPLYCNT
								FROM CLASS C JOIN PROFESSOR P
							 	ON C.PROFESSORNUM = P.PROFESSORNUM 
							 	WHERE 1=1 
							 	<if test="classnum != null and  classnum !=''">
								AND C.CLASSNUM = #{classnum}
								</if>
								<if test="classname != null and classname !=''">
								AND C.CLASSNAME LIKE '%' || upper(#{classname}) || '%'
								</if>
								<if test="professorname != null and professorname != ''">
								AND PROFESSORNAME LIKE '%' || #{professorname} || '%'
								</if> 
								ORDER BY CLASSNUM
							 	) A 
							 )B
							 
							 WHERE RN BETWEEN #{start} AND #{end}
					 		
	</select>
				 
	<!-- 관리자 과목 전체 조회 (조건x) -->		
	<select id="getClassList2" resultType="map" parameterType="classVO">
		
		SELECT 							C.CLASSNUM,
										C.CLASSNAME,
										C.CREDIT,
										C.MAXSTUDENT,
										P.PROFESSORNAME,
										C.CLASSTIME
										FROM CLASS C JOIN PROFESSOR P
							 	ON C.PROFESSORNUM = P.PROFESSORNUM
							 	where 1=1 
							 	<if test="classnum !=null and classnum !=''">
							 AND	C.CLASSNUM = #{classnum}
							 	</if>
	</select>
		
			
	<!-- 학생 강의 이름 조회 -->
	<select id="stu_classnameList"  resultType="map" parameterType="string">
		
		SELECT 		C.CLASSNUM, 
					C.CLASSNAME 
		FROM CLASS C JOIN CLASSAPPLY A
		ON C.CLASSNUM = A.CLASSNUM
		WHERE C.CLASSNUM = A.CLASSNUM
		<if test="value !=null and value !=''">
		AND A.STUDENTNUM = #{value}
		</if>
		ORDER BY CLASSNUM
		
		</select>
					
					
			
	
	<!-- 교수 강의 이름 조회 -->
	<select id="pro_classnameList" resultType="map" parameterType="String">
		
			SELECT 		CLASSNUM, 
						CLASSNAME
		 	FROM CLASS
			WHERE PROFESSORNUM = #{professornum} 
			ORDER BY CLASSNUM
			
	</select>
	
		
	<select id="count" resultType="int" parameterType="classSearchVO"> 
		
		SELECT 		COUNT(*)
		FROM CLASS C JOIN PROFESSOR P
		ON C.PROFESSORNUM = P.PROFESSORNUM
		WHERE 1=1
		<if test="classname != null and classname != ''">
			AND CLASSNAME LIKE '%' || upper(#{classname}) || '%'
		</if>
		<if test="professorname != null and professorname != ''">
			AND PROFESSORNAME LIKE '%' || upper(#{professorname}) || '%'
		</if>
		<if test="classtime != null and classtime !=''">
			AND CLASSTIME LIKE '%' || upper(#{classtime}) || '%'
		</if>
		<if test="classnum != null and classnum !=''">
			AND C.CLASSNUM = #{classnum}
		</if>
		
	
	</select>
	<!--  교수 시간 표 조회 --> 		
	<select id ="getSchedulepro" resultType="com.yedam.lms.classs.ClassapplyVO" parameterType="com.yedam.lms.classs.ClassapplyVO">
			<![CDATA[
			SELECT		CLASSNAME,
						CLASSTIME
			FROM 		CLASS
			WHERE 		PROFESSORNUM = #{studentnum}
			]]>
			
	</select>	
	
	<!-- 과목 중복 건수 조회 -->
	<select id="checkClass" resultType="int">
		SELECT 	COUNT(CLASSNAME)
		FROM	CLASS
		WHERE	CLASSNAME = #{classname}
	
	
	</select>
	
	<!-- 학생 수와 과목 정보 조회 -->
	<select id="stuCnt" resultType="map">
		SELECT		CLASSNUM,
						CLASSNAME,
						CREDIT,
						MAXSTUDENT,
						PROFESSORNUM,
						CLASSTIME,
						(SELECT COUNT(STUDENTNUM)
						   FROM CLASSAPPLY
						   WHERE CLASSNUM = A.classnum) AS cnt
			FROM 		CLASS A
			WHERE 		CLASSNUM = #{classnum}
		
		
	</select>
	
</mapper>
