<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.lms.classs.impl.classDAO">


	<!-- 등록 -->
	<!-- <insert id= "classInsert" parameterType="classVO">
		<selectKey keyProperty="classNum" resultType="string" order="BEFORE">
			SELECT max(CLASSNUM)+1 FROM CLASS
		</selectKey>
		INSERT INTO CLASS(  CLASSNUM,
							CLASSNAME, 
							CREDIT,
							MAXSTUDENT,
							PROFESSORNUM,
							CLASSTIME)
		VALUES(
				#{classNum}
				#{className}
				#{credit}
				#{maxStudent}
				#{professorNum}
				#{classTime}
					)
	</insert> -->
					
	
	
	<!-- 단건조회 -->
	
	<select id ="getClass" resultType="classVO" parameterType="String">
			<![CDATA[
			SELECT		CLASSNUM,
						CLASSNAME,
						CREDIT,
						MAXSTUDENT,
						PROFESSORNUM,
						CLASSTIME
			FROM 		CLASS
			WHERE 		CLASSNUM = #{classnum}
			]]>
			
	</select>		
			
			
			
			
			
			
	 <!-- 전체조회 -->
	 <select id="getClassList" resultType="map" parameterType="classsearchVO">
			SELECT 			B.* FROM 
							( SELECT A.*,ROWNUM RN FROM 
								(SELECT C.CLASSNUM,
										C.CLASSNAME,
										C.CREDIT,
										C.MAXSTUDENT,
										P.PROFESSORNAME,
										C.CLASSTIME,
										(SELECT COUNT(*) FROM CLASSAPPLY CA 
										WHERE CA.CLASSNUM = C.CLASSNUM) APPLYCNT
								FROM CLASS C JOIN PROFESSOR P
							 	ON C.PROFESSORNUM = P.PROFESSORNUM 
							 	WHERE 1=1 
							 	<if test="classnum != null and  classnum !=''">
								AND C.CLASSNUM = #{classnum}
								</if>
								<if test="classname != null and classname !=''">
								AND C.CLASSNAME LIKE '%' || upper(#{classname}) || '%'
								</if>
								<if test="professorname != null and professorname != ''">
								AND P.PROFESSORNAME LIKE '%' || upper(#{professorname}) || '%'
								</if> 
								<if test="classtime !=null and classtime !=''">
								AND C.CLASSTIME LIKE '%' || upper(#{classtime}) || '%'
								</if>
								ORDER BY CLASSNUM
							 	) A 
							 )B
							 
							 WHERE RN BETWEEN #{start} AND #{end}
					 		
	</select>			 
			
			
		
			
	<!-- 학생 강의 이름 조회 -->
	<select id="stu_classnameList"  resultType="map" parameterType="String">
		
		SELECT 		C.CLASSNUM, 
					C.CLASSNAME 
		FROM CLASS C JOIN CLASSAPPLY A
		ON C.CLASSNUM = A.CLASSNUM
		<where>
		<if test="classNum != null and classNum !=''">
		C.CLASSNUM = A.CLASSNUM
		</if>
		<if test="studentNum !=null and studentNum !=''">
		A.STUDENTNUM = #{studentnum}
		</if>
		</where>
		ORDER BY CLASSNUM
		
		</select>
					
					
			
	
	<!-- 교수 강의 이름 조회 -->
	<select id="pro_classnameList" resultType="map" parameterType="String">
		
			SELECT 		CLASSNUM, 
						CLASSNAME
		 	FROM CLASS
			WHERE PROFESSORNUM = #{professornum} 
			ORDER BY CLASSNUM
			
	</select>
	
		
	<select id="count" resultType="int" parameterType="classSearchVO"> 
		
		SELECT 		COUNT(*)
		FROM CLASS C JOIN PROFESSOR P
		ON C.PROFESSORNUM = P.PROFESSORNUM
		WHERE 1=1
		<if test="className != null and className != ''">
			AND CLASSNAME LIKE '%' || upper(#{classname}) || '%'
		</if>
		<if test="professorName != null and professorName != ''">
			AND PROFESSORNAME LIKE '%' || upper(#{professorname}) || '%'
		</if>
		<if test="classTime != null and classTime !=''">
			AND CLASSTIME LIKE '%' || upper(#{classtime}) || '%'
		</if>
		<if test="classNum != null and classNum !=''">
			AND C.CLASSNUM = #{classnum}
		</if>
		
	
	</select>
			
	
	
</mapper>
