<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.yedam.lms.test.impl.TestDAO">

	<select id="gettestListPro" resultType="map" parameterType="testVO">
		SELECT 
		T.TESTNUM, 
		S.STUDENTNUM, 
		S.STUDENTNAME, 
		T.TESTNAME 
		FROM TEST T
		JOIN CLASSAPPLY C 
		ON T.CLASSNUM = C.CLASSNUM 
		JOIN STUDENT S 
		ON C.STUDENTNUM = S.STUDENTNUM 
		WHERE C.CLASSNUM = #{classnum} 
		ORDER BY T.TESTNUM
	</select>
	
	<select id="testCheck" resultType="testVO" parameterType="testVO">
	SELECT T.TESTNUM, 
	T.TESTNAME,
	T.TESTDATE,
	T.TESTINFO,
	T.CLASSNUM, 
	NVL((SELECT 1 
		FROM TESTRESULT T 
		JOIN CLASSAPPLY C 
		ON C.CLASSAPPLYNUM = T.CLASSAPPLYNUM 
		WHERE C.STUDENTNUM=#{studentnum} 
		AND C.CLASSNUM=#{classnum}),0) AS QQ
	FROM TEST T 
	WHERE T.CLASSNUM=#{classnum}
	</select>
	
	<insert id="testInsert" parameterType="testVO">
		<selectKey keyProperty="testnum" resultType="string" order="BEFORE">
			SELECT MAX(TESTNUM)+1 FROM TEST
		</selectKey>
	INSERT INTO
	TEST(
	TESTNUM,
	TESTNAME,
	TESTDATE,
	TESTINFO,
	CLASSNUM
	)
	VALUES(
	#{testnum},
	#{testname},
	#{testdate},
	#{testinfo},
	#{classnum}
	)
	</insert>
	
	<select id="gettestn" resultType="string" >
		SELECT MAX(TESTNUM) TESTNUM FROM TEST
	</select>
</mapper>	
	